body{
  margin: 0;
  font-family: 'Roboto Slab', serif;
  color: #000;
  width: 100%; height: 100vh;
  background: url('../img/w9.jpg') no-repeat fixed center top / cover;
}

*{
  list-style: none;
  text-decoration: none;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; height: 100vh;
}

.clock{
  display: flex;
  align-items: center;
  color: red;
  font-size: 95px;
  font-family: satan;
}

.clock p{
  padding-bottom: 40px;
}















